.card {
   position: relative;
   background-color: rgb(241, 241, 241);
   border-radius: 10px;
   display: inline-block;
   margin: 10px;
   padding: 15px 10px 10px;
   width: 300px;
}

.card-title {
   text-align: center;
   font-size: 18px;
}


.card__delete-btn {
   cursor: pointer;
   position: absolute;
   right: 5px;
   top: 5px;
   width: 24px;
   height: 24px;
   opacity: 0.2;
   cursor: pointer;
   transition: opacity ease 0.2s;

   &:hover {
      opacity: 1;
   }
}

.card__delete-btn::before,
.card__delete-btn::after {
   content: '';
   position: absolute;
   top: 10px;
   display: block;
   width: 24px;
   height: 3px;
   background: #000;
}

.card__delete-btn::before {
   transform: rotate(45deg);
}

.card__delete-btn::after {
   transform: rotate(-45deg);
}

.card__change-btn {
   cursor: pointer;
   position: absolute;
   right: 40px;
   top: 5px;
}

.change-btn-svg {
   opacity: 0.2;
   transition: opacity ease 0.2s;

   &:hover {
      opacity: 1;
   }
}

.show-more-btn {
   text-align: center;
   cursor: pointer;
}

.show-more-btn:hover {
   color: blue;
}

.card-atribute {
   &>span {
      font-weight: bold;
   }
}

.show-more-args {
   display: none;
}

.show-more-args-active {
   display: block;
}