.cards-box_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
}

.cards-box {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 500px;
}
