@import "../abstracts/mixins";

.cards-modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: rgb(234, 234, 234);
  width: 700px;
  border-radius: 10px;
}

.cards-modal__title {
  position: relative;
  text-align: center;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: rgb(170, 170, 170);
  }
}

.cards-modal__form {
  @include flex(center, start, row);
  flex-wrap: wrap;
  font-size: 18px;
  margin-bottom: 20px;

  & label {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  & input:not(.cards-modal__desc) {
    width: 200px;
  }
  & select {
    margin: 10px 0px;
  }
}

.cards-modal__content {
  @include flex(center, start, row);
  margin-bottom: 50px;
  margin-left: 70px;
}

.cards-modal__section {
  @include flex(start, start, column);

  &:last-child {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.cards-modal__btn {
  width: 100px;
  margin: 0px 40px;
}

.cards-modal__desc {
  width: 250px;
}
