@import "../abstracts/mixins";

.navbar {
  @include flex(space-between, center, row);
}

.navbar__logo_link {
  margin: 0px 0px;
  margin-left: 100px;
}

.navbar__login-box {
  @include flex(center, center, row);
}

.navbar__logo {
  width: 120px;
  height: 80px;
}

.navbar__login {
  font-size: 15px;
  color: black;
  margin-left: 10px;
}

.navbar__btn-box {
  @include flex(center, center, row);
}

.navbar__create-visit {
  margin-right: 40px;
  margin-left: 20px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(2, 196, 230);
  box-shadow: 2px 2px 7px rgba($color: #000000, $alpha: 0.1);
  transition: 0.2s;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.95);
  }
}
